.button{
    padding: 10px 27px;
    border-radius: 10px;
    font-size: 13px;
    cursor: pointer;
    display: flex;
    gap: 7px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;
    background-color: #eaeaea;
    min-width: fit-content;
}

.active{
    background-color: #ff5525;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}

.button img{
    width: 15px;
    height: 15px;
    filter: brightness(0) saturate(100%) invert(53%) sepia(2%) saturate(2%) hue-rotate(314deg) brightness(95%) contrast(93%);/*#808080*/
}

.active img{
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);/*흰색*/
}

.content{
    color: #808080;
}

.active .content{
    color: white;
}