services:
  backend:
    image: comtogether
    build: .
    container_name: backend
    ports:
      - "8080:8080"
    env_file: ".env" #EC2에 올려둔 .env 사용

  elastic:
    build:
      context: .
      dockerfile: Dockerfile.elastic
    container_name: elasticsearch
    ports:
      - "9200:9200"
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - xpack.security.http.ssl.enabled=false

  kibana:
    image: docker.elastic.co/kibana/kibana:8.17.4
    container_name: kibana
    ports:
      - "5601:5601"
    environment:
      - ELASTICSEARCH_HOSTS=http://elastic:9200
