.container{
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: var(--spacing-16);
}

.content{
    display: flex;
    justify-content: center;
    margin-top: var(--spacing-6);
    gap: var(--spacing-4);
}