.container{
    margin-top: 75px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    gap: 70px;
}

.content{
    display: flex;
    justify-content: center;
    height: 600px;
    overflow-y: hidden;
}