.table {
  width: 100%;
}

.headerRow {
  display: grid;
  grid-template-columns: 50px 2fr 1fr; 
  font-size: var(--font-size-sm);
  color: var(--color-gray-600);
  border-bottom: 1px solid var(--color-gray-300);
  padding-bottom: var(--spacing-1);
}

.list{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2);
    padding-top: var(--spacing-2);
}

.row {
  display: grid;
  grid-template-columns: 50px 2fr 1fr; 
  align-items: center;
  padding: var(--spacing-2) 0;
  border-radius: var(--border-radius-lg);
}

.row.selected{
    border: 1px solid #ff5525;
    box-shadow: 0 2px 5.5px rgba(0, 0, 0, 0.1);
}

.checkIcon {
  width: 17px;
  height: 17px;
  justify-self: center;
  border-radius: 50%;
  background-color: var(--color-gray-300);
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkIcon img{
    width: 10px;
    height: 10px;
}

.checkIcon.selected{
    background-color: #ff5525;
}

.title{
    color: var(--color-gray-900);
}

.date {
  color: var(--color-gray-600);
}

.btnContainer{
    height: fit-content;
    display: flex;
    justify-content: center;
    padding-top: var(--spacing-4);
}
