.container{
    width: 583px;
    padding: 0 var(--spacing-6);
    border-radius: var(--border-radius-lg);
    border: 1px solid var(--color-gray-300);
}

.btnContainer{
    display: flex;
    height: 93px;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-2);
}