.btn{
    padding: 8px 0;
    display: flex;
    gap: 10px;
    align-items: center;
    width: fit-content;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.btn span{
    color: #ff5525;
    font-size: 15px;
}

.btn img{
    width: 10px;
    height: 10px;
    margin-top: 3px;
}