.header{
    width: 100%;
    height: 93px;
    display: flex;
    flex-direction: column;
}

.content{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: flex-end;
}

.totalPrice{
    font-size: var(--font-size-2xl);
    font-weight: var(--font-weight-bold);
    color: var(--color-gray-900);
    margin-bottom: var(--spacing-8);
}

.btnContainer{
    margin-bottom: var(--spacing-3);
}

.modalWrapper{
    position: relative;
    width: 100%;
}