.container{
    margin-top: var(--spacing-12);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content{
    display: flex;
    gap: var(--spacing-6);
    margin-bottom: var(--spacing-2);
}

.line{
    width: 1050px;
    height: var(--border-width-1);
    background-color: var(--color-gray-300);
}