.container {
    max-height: 600px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-1);
}

.item {
    min-height: 48px;
    display: flex;
    gap: var(--spacing-3);
    align-items: center;
}