.container{
    height: 450px;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-1);
}
.item{
    height: calc((450px - (var(--spacing-1) * 8)) / 9);
    display: flex;
    gap: var(--spacing-3);
}