.container{
    width: 1200px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    position: relative;
}

.imageWrapper{
    position: sticky;
    top: 0;
    width: 100%;
    height: 290px;
}

.categoryImg{
    width: 100%;
    height: 290px;
}

.content{
    padding-top: 7px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0px -4px 15px rgba(0, 0, 0, 0.1);
}

.title{
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 10px 0px 12px 30px;
}

.title img{
    width: 18px;
    height: 18px;
}

.category{
    font-size: 24px;
    font-weight: 500;
}

.order{
    font-size: 15px;
    color: #808080;
    font-weight: 500;
}

.btnContainer{
    display: flex;
    gap: 10px;
    margin-left: 20px;
}

.textContent{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0px 30px;
}

.description{
    height: fit-content;
    padding: 26px 0;
    font-size: 15px;
    font-weight: 500;
}

.detail{
    height: 290px;
}