.container {
    width: 1200px;
    height: calc(100vh - 195px);
    /* 화면 높이 - header - stepIndicator - padding */
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.container::-webkit-scrollbar {
    display: none;
}

.imageWrapper {
    position: sticky;
    top: 0;
    width: 100%;
    height: 310px;
    z-index: 1;
}

.categoryImg {
    width: 100%;
    height: 310px;
}

.contentWrapper {
    z-index: 2;
}

.content {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.showMore {
    box-shadow: 0px -4px 15px rgba(0, 0, 0, 0.1);
    padding-bottom: 150px;
}

.title {
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 10px 0px 14px 30px;
}

.title img {
    width: 18px;
    height: 18px;
}

.category {
    font-size: 24px;
    font-weight: 500;
}

.order {
    font-size: 15px;
    color: #808080;
    font-weight: 500;
}

.btnContainer {
    display: flex;
    gap: 10px;
    margin-left: 20px;
}

.textContent {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin: 0px 30px;
}

.description {
    height: fit-content;
    padding: 26px 0;
    font-size: 15px;
    font-weight: 500;
}