.item {
  min-width: 125px;
  width: max-content;
  max-width: 150px;
  min-height: 48px;
  padding: var(--spacing-2) var(--spacing-3);

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  word-break: keep-all;

  color: var(--color-gray-900);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);

  border-radius: var(--border-radius-xl);
  border: 1px solid var(--color-gray-300);
  box-shadow: 0 2px 5.5px rgba(0, 0, 0, 0.1);
  background-color: white;
}